<header class="site-header">

  <div class="avatar">  
  	<img src="/images/og.png" alt="avatar" />
  </div>

  <div class="container">
    <nav>
      <a href="/" class="{% if page.url == '/' %} active{% endif %}"><div class="a-person"></div> 关于</a>
      <a href="/archive" class="{% if page.url == '/archive/' %} active{% endif %}"><div class="a-page"></div> 博文</a>
      <a title="Don't touch the cat."><div class="a-cat"></div></a>
    </nav>
  </div>
</header>
<a id="fork-me" class="fork-me" href="https://github.com/ssdr/ssdr.github.io">Fork Me</a>
