<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">

      {% include header.html %}

      <section class="content">
        <div class="container">
          <article>
            <header class="post-header">

              <div class="post-title">{{ page.title }}</div>
              {% if page.date %}
                <small class="meta">
                  {{ page.date | date_to_string }} -
                  by <a href="https://github.com/ssdr" target="_blank">@ssdr</a>
                </small>
                <div class="pagination">
                  {% if page.previous %}
                    <a class="page-nav previous" {% if page.previous %}href="{{ page.previous.url }}" id="js-previous-post"{% endif %}>
                      &lt;
                    </a>
                  {% endif %}
                  {% if page.next %}
                    <a class="page-nav next" {% if page.next %}href="{{ page.next.url }}" id="js-next-post"{% endif %}>
                      &gt;
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </header>
            {{ content }}
          </article>
        </div>
      </section>

<!-- 多说评论框 start -->
<div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %} data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">var duoshuoQuery = {short_name:"ssdr"};  (function() {       var ds = document.createElement('script');      ds.type = 'text/javascript';ds.async = true;     
   ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';       ds.charset = 'UTF-8';       (document.getElementsByTagName('head')[0]     
   || document.getElementsByTagName('body')[0]).appendChild(ds);  })();   </script>
<!-- 多说公共JS代码 end -->

      {% include footer.html %}
    </div>
  </body>
</html>
